/*
    Aquí va tu código CSS

    - HERO + COMMIT
    - PRIMER CARRUSSEL + COMMIT 
    - SEGON CARRUSSEL + COMMIT 
    - FOOTER + COMMIT 
    - TERCER CARRUSSEL + COMMIT (MÉS TEMPS)
    - HEADER + COMMIT 

    IMPORTANT:
    - Potser he de posar el footer dins del main (el </main> a sota de tot del footer).
    - El grid layout ha de contenir el header i el main i que siguin dos files de css (és a dir, el 
    header ocuparia 30px (en rem) aprox i la resta el 100% de la pantalla)

*/

/* RESET — eliminar marges i padding per defecte del navegador */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
}

.grid-layout {
  display: grid;
  grid-template-rows: 60px 1fr auto;
  min-height: 100vh;
}

/* HERO */
#hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 26px;

  /* Imatge de fons */
  background-image: url("../assets/img/hero-image.jpg");
  background-size: cover;
  background-position: center;
}

/* TÍTOL */
#hero-title {
  font-size: clamp(2rem, 5vw, 4rem);
  color: white;
}

/* SUBTÍTOL */
#hero-subtitle {
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-weight: 400;
  color: white;
  max-width: 700px;
}

/* FORMULARI */
#hero-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 100%;
  max-width: 600px;
}

/* TEXT SOBRE EL INPUT */
#input-text {
  color: white;
  font-size: 1rem;
}

/* WRAPPER INPUT + BOTÓ */
#email-wrapper {
  display: flex;
  width: 100%;
  gap: 15px;
}

/* INPUT EMAIL */
#input-email {
  flex: 1;
  padding: 14px 20px;
  font-size: 1rem;
  background: #060614;
  border: 2px solid #6f6f84;
  color: #83838b;
}

/* BOTÓ */
.hero-btn {
  padding: 14px 28px;
  background: #00ff98;
  color: #0a0a0a;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-btn:hover {
  background: #5effc3;
}
